<script type="text/javascript" src="{{url_for('static', filename='js/modules/jquery-3.3.1.slim.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/modules/popper.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/modules/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/modules/moment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/util.js')}}"></script>