{% extends 'frame.html' %}

{% block title %} Systems Dashboard - {{super()}} {% endblock %}

{% block content %}
	{% include "system/includes/minipanel.html" %}
	{% from "system/includes/minipanel.html" import create_minipanel %}

	<div class="container-fluid">
		<h2>Personal Systems</h2>
		{% for system in current_user.systems %}
			{{create_minipanel("personal", loop.index, system)}}
		{% endfor %}
		{% if current_user.permission >= aquaurban.code.UserPermissionCode.SUPERVISOR.value and current_user.community_id %}
			<h2>Communal Systems</h2>
			{% for system in aquaurban.model.Community.query.get(current_user.community_id).systems %}
				{% if system.user_id != current_user.id %}
					{{create_minipanel("community", loop.index, system)}}
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/ws_route.js')}}"></script>
	<script type="text/javascript">
		var systemMinipanels = {}

		$(() => {
			$('.system-minipanel').each(function () {
				systemMinipanels[$(this).data('system-id')] = new SystemMinipanel($(this).data('id'))
			});
		});
	</script>
	<script type="text/javascript">
		
	</script>
{% endblock content %}