{% from "system/includes/minichart.html" import create_minichart %}

{% macro create_minipanel(name, id, system) %}
	<div class="container-fluid">	
		<div class="system-minipanel" data-id="{{name}}-{{id}}" data-system-id="{{system.id}}">
			<div class="row">
				<legend class="border-bottom mb-4"><h2>{{system.name}}</h2></legend>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% with bioinfo = system.bioinfos[-1] if system.bioinfos else aquaurban.model.Bioinfo() %}
						<div class="container-fluid">
							<div class="row system-minipanel-frame">
								<legend class="border-bottom mb-3">{{_("Brightness")}} (<span>&#8486;</span>)</legend>
								<div class="col-md-4">
									<input disabled class="system-minipanel-bioinfo form-control form-control-lg bg-white" data-bioinfo="brightness" value="{{bioinfo.brightness if bioinfo.brightness is not none else '??'}}">
								</div>
								<div class="col-md-4">
									<button class="btn btn-outline-success system-minipanel-action form-control form-control-lg" data-action="1" data-actor="0" data-info="1">{{_("Lights on")}}</button>
								</div>
								<div class="col-md-4">
									<button class="btn btn-outline-danger system-minipanel-action form-control form-control-lg" data-action="2" data-actor="0" data-info="0">{{_("Lights off")}}</button>
								</div>
							</div>
							<div class="row system-minipanel-frame">
								<legend class="border-bottom mt-4 mb-3">{{_("Feeding")}}</legend>
								<div class="col-md-6">
									<button class="btn btn-outline-info system-minipanel-action form-control form-control-lg" data-action="3" data-actor="1" data-info="100">{{_("Feed")}}</button>
								</div>
								<div class="col-md-6">
									<input type="number" class="system-minipanel-action-info form-control form-control-lg" data-to-action="3" placeholder="[{{_('in grams')}}]" min="1"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="system-minipanel-frame">
										<legend class="border-bottom mt-4 mb-3">{{_("Water Level")}}</legend>
										<input disabled class="system-minipanel-bioinfo form-control form-control-lg bg-white" data-bioinfo="waterlevel" value="{{(_('above') if bioinfo.waterlevel else _('below')) if bioinfo.waterlevel is not none else '??'}}">
									</div>
								</div>
								<div class="col-md-3">
									<div class="system-minipanel-frame">
										<legend class="border-bottom mt-4 mb-3">{{_("Temperature")}} (Cº)</legend>
										<input disabled class="system-minipanel-bioinfo form-control form-control-lg bg-white" data-bioinfo="temperature" value="{{bioinfo.temperature if bioinfo.temperature is not none else '??'}}">
									</div>
								</div>
								<div class="col-md-3">
									<div class="system-minipanel-frame">
										<legend class="border-bottom mt-4 mb-3">{{_("Humidity")}} (%)</legend>
										<input disabled class="system-minipanel-bioinfo form-control form-control-lg bg-white" data-bioinfo="humidity" value="{{bioinfo.humidity if bioinfo.humidity is not none else '??'}}">
									</div>
								</div>
								<div class="col-md-3">
									<div class="system-minipanel-frame">
										<legend class="border-bottom mt-4 mb-3">{{_("Acidness")}} (pH)</legend>
										<input disabled class="system-minipanel-bioinfo form-control form-control-lg bg-white" data-bioinfo="acidness" value="{{bioinfo.acidness if bioinfo.acidness is not none else '??'}}">
									</div>
								</div>
							</div>
						</div>
					{% endwith %}
				</div>
				<div class="col-md-12">
					<legend class="border-bottom mt-4 mb-4"><h3>{{_("Biological Information Chart")}}</h3></legend>
					{{create_minichart(name, id, system)}}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}