{% from "system/includes/minichart.html" import create_minichart %}

{% macro create_minipanel(name, id, system) %}
	<div class="container-fluid">	
		<div class="system-minipanel" data-id="{{name}}-{{id}}" data-system-id="{{system.id}}">
			<div class="row">
				<h3>{{system.name}}</h3>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12">
					{% with bioinfo = system.bioinfos[-1] if system.bioinfos else aquaurban.model.Bioinfo() %}
						<ul>
							<li>
								{{_("Water Level")}}: 
								<span class="system-minipanel-bioinfo" data-bioinfo="waterlevel">{{(_("above") if bioinfo.waterlevel else _("below")) if bioinfo.waterlevel is not none else "??"}}</span>
							</li>
							<li>
								{{_("LDR Resistance")}}:
								<span class="system-minipanel-bioinfo" data-bioinfo="brightness">{{bioinfo.brightness if bioinfo.brightness is not none else "??"}}</span> <span>&#8486;</span>
							</li>
							<li>
								{{_("Temperature")}}: 
								<span class="system-minipanel-bioinfo" data-bioinfo="temperature">{{bioinfo.temperature if bioinfo.temperature is not none else "??"}}</span> Cº
							</li>
							<li class="system-minipanel-bioinfo" data-bioinfo="humidity">
								{{_("Humidity")}}:
								<span class="system-minipanel-bioinfo" data-bioinfo="humidity">{{bioinfo.humidity if bioinfo.humidity is not none else "??"}}</span> %
							</li>
							<li>
								{{_("Acidness")}}:
								<span class="system-minipanel-bioinfo" data-bioinfo="acidness">{{bioinfo.acidness if bioinfo.acidness is not none else "??"}}</span> pH
							</li>
						</ul>
					{% endwith %}
				</div>
				<div class="col-md-6 col-sm-12">
					<button class="btn btn-outline-info system-minipanel-action" data-action="1" data-actor="0" data-info="1">{{_("Led on")}}</button>
					<button class="btn btn-outline-info system-minipanel-action" data-action="2" data-actor="0" data-info="0">{{_("Leds off")}}</button>
					<button class="btn btn-outline-info system-minipanel-action" data-action="3" data-actor="1" data-info="100">{{_("Feed with")}}</button>
					<input type="number" class="system-minipanel-action-info" data-to-action="3" value="100"/>
				</div>
				<div class="col-md-12">
					{{create_minichart(name, id, system)}}
				</div>
			</div>
		</div>
	</div>
{% endmacro %}